<template>
  <main-layout>
    <p>Page not found</p>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Layout.vue'
  export default {
    components: {
      MainLayout
    }
  }
</script>